<div class="jumbotron">

	<center>
		<h1>Welcome to my Papa Lee's Pizza</h1>

		<img src="http://www.elkharttruth.com/image/2015/08/22/800x_b0_z/morris-inn.jpg">
		<br>
		<%= link_to "Check out our pizzas!",
			pizzas_path, class: "btn btn-default" %>
	</center>
</div> 